.body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100vh;
    background-color: yellow;
    
    display: flex;
    justify-content: center;
    align-self: center;
}
.center {
    width: 500px;
    height: 500px;

    background-color: palevioletred;


}
.center div{
    width: 100px;
    height: 100px;
    background-color: blue;

}